<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trail Analysis Results</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="/css/styles.css">




</head>
<body>
    <div class="container">
        <h1>Trail Analysis Results</h1>
        <div id="analysisResults"></div>

        <div class="map-chart-container">
            <div id="map"></div>
            <div id="chartContainer">
                <canvas id="altitudeChart"></canvas>
            </div>
        </div>


    </div>
    <script src="/js/displayResults.js"></script>
</body>
</html>